*{
    padding: 0;
    margin: 0;
}

.mainContainerNotification{
    position: relative;
    height: 93vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f2ee;
}