* {
  margin: 0;
  padding: 0;
}

.bookingcontainerL .bookingCheckIN {
  height: 100px;
  width: 90%;
  margin-top: 10px;
  padding: 0px 30px;
  background-color: rgba(211, 211, 211, 0.258);
}
.chekinBooking {
  height: 80px;
  width: 100%;
}
.checkOutBooking {
  height: 80px;
  width: 100%;
}
.adultBooking {
  height: 80px;
  width: 100%;
}
.backgroundddd {
  background-color: rgba(211, 211, 211, 0.159);
}
